@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    background-color: #24252a;
  }
  
  .logo {
    margin-right: auto;
  }
  
  .nav__links {
    list-style: none;
    display: flex;
  }
  
  .nav__links a,
  .cta,
  .overlay__content a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }
  
  .nav__links li {
    padding: 0px 20px;
  }
  
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  
  .nav__links li a:hover {
    color: #0088a9;
  }
  
  .cta {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  }
  
  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  /* Style the header */
  .header {
    padding: 80px;
    text-align: center;
    background: #1abc9c;
    color: white;
  }
  
  /* Increase the font size of the h1 element */
  .header h1 {
    font-size: 40px;
  }

  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 50%;
    background-color: #ffffff;
    height: 700px;
    padding: 0px;
    min-height: 665px;
    background-image: url("footbal.jpg");
    background-position: 50% 50%;
  }
  
  /* Main column */
  .main {   
    flex: 50%;
    background-color: #5e5f65;
    height: 700px;
    padding: 20px;
  }

  h3{
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    float: right;
    padding-top: 5px;
  }

  h2{
    font-size: 60px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    text-align: right;
    padding-top: 70px;
  }

  button{
    margin-right: 20px;
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    float: right;
  }

  button:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  .footer {
    padding: 15px;
    text-align: center;
    background: #24252a;
  }
  .text{
    padding-top: 50%;
  }
  


