@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@500&display=swap');
body{
    background-color: #010d00;
}
.turf-box{
    border: 1px solid #548c1c;
    border-radius: 25px;
    margin: auto;
    width: 30%;
    height: 75%;
    display: flex;
    /* flex-direction: column; */
    background-color: #8ebf24;
    box-shadow: 4px 4px 7px 7px #548c1c6f;
    /* text-align: center; */
}
.turf-details{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
    font-family: 'Poppins', sans-serif;
    /* display: flex; */
    /* overflow: hidden; */
    /* border: 1px solid black; */
    
    
}
.img_size{
    height: 40%;
    width: 100%;
    display: flex;
    
}
.turf-name{
    /* border: 1px solid black; */
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    
}