@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;900&family=Poppins:wght@500&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
	margin: 0;
	/* padding: 0; */
}

body{
    background-color: #0c2605;
}
.turf-box{
    border: 1px solid #548c1c;
    border-radius: 25px;
    margin: auto;
    width: 380px;
    /* height: 450px; */
    display: flex;
    /* flex-direction: column; */
    background-color: #d6ffb7;
    /* box-shadow: 4px 4px 7px 7px #548c1c6f; */
    /* text-align: center; */
    padding-bottom: 17px;
}
.turf-details{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    width: 90%;
    height: 90%;
    font-family: "Montserrat", sans-serif;
    /* font-weight: 500; */
    /* display: flex; */
    /* overflow: hidden; */
    /* border: 1px solid black; */
    
}
.img_size{
    height: 200px;
    width: 100%;
    display: flex;
    
}
.turf-name{
    /* border: 1px solid black; */
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    
}

.h1-invite{
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  color: #d6ffb7;
  text-align: center;
}

.h5-invite{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 15px;
  color: #8ebf24;
}

.h3-invite{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  /* text-align: center; */
  font-size: 20px;
  color: #0c2605;
}
.h4-invite{
  font-family: "Montserrat", sans-serif;
  font-weight:400;
  /* text-align: center; */
  font-size: 17px;
  color: #0c2605;
}

.h2-invite{
  font-family: "Montserrat", sans-serif;
  margin-top: 7px;
  font-size: 30px;
  color: #2e590e;
}
/* SEARCH BAR */

.sort-row1{
  height:350px;
  width: 100%;
  background-color: #0c2605;
  margin-bottom: 15px;
padding-top: 35px;
  /* border-radius: 5px; */
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #8ebf24;
  border-right: none;
  padding: 7px;
  height: 50px;
  /* border-radius: 7px 0 0 7px; */
  outline: none;
  color: #2e590e;
}

.searchTerm:focus{
  color: #8ebf24;
}

.searchButton {
  /* width: 50px; */
  height: 50px;
  border: 1px solid #8ebf24;
  background: #8ebf24;
  text-align: center;
  color: #fff;
  border-radius: 0 0px 0px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  /* width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: 50px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 10%;
  background-color: #000000;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a,
.page-buttons button {
  font-size: 17px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #a9b388;
}