@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background:#d6ffb7;    
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 10%;
  background-color: #000000;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a,
.page-buttons button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #a9b388;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: #548c1c;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: #2e590e;
}

.view{
  height: 90%;
}

h4{
  align-items: flex;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffffff;
}

.view{  
display: flex;
flex-wrap: wrap;
}

.h1-view{
  font-family: "Montserrat", sans-serif;
  font-size: 65px;
  font-weight: 900;
  color: #d6ffb7;
  padding-top: 40%;
}

.h5-view{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 17px;
  color: #8ebf24;
}

.view-heading{
  padding-top: 235px;
}

.view-text{
  padding-top: 125px;
}

.left-view{
  flex: 50%;
  /* background-color: #ffffff; */
  /* background-image: url("home_bg.jpg");
  background-size: 100%; */
  height: 100%;
  padding: 0px;
  background-position: 50% 50%;
  background-color: #0c2605;
}
.right-view{
  flex: 50%;
  /* background-color: #092906; */
  /* background-color: #0c2605; */
  height: 100%;
  padding: 20px; 
  background-position: 50% 50%;
}

.view-fri{
  background-color: #0c2605;
  padding: 10px;
  height: 140px;
  width: 550px;
  margin-left: 13%;
  margin-top: 15px;
  border-radius: 25px;
}

.view-name{
 font-family: "Montserrat", sans-serif;
 font-weight: 700;
 font-size: 30px;
 padding-top: 3px;
 padding-left: 5px;
 color: #d6ffb7;
}

.view-email{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 5px;
  color: #8ebf24;
}

.view-numb{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-top: 3px;
  padding-left: 5px;
  color: #8ebf24;
}